.outerbox{
    background-color: blanchedalmond;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /*it covers the x direction*/
    align-items: center;
}
.box{
    width: 200px;
    height: 150px;
    border:2px solid white;
    background-color: blueviolet;
}

.container{
    display: flex;
    flex-direction: column;
}
.container{
    padding: 10px;
}
.para1{
    background-color: aliceblue;
    flex: 1;
    order: 1;
}
.para2{
    background-color: antiquewhite;
    flex: 1;
    order: 3;
}
.para3{
    background-color: aqua;
    flex: 2;
    order: 2;
}