<!-- <h1>{{fullName}}</h1>
<h1>{{getName()}}</h1>
<input type="text" [(ngModel)]="fullName"> -->

<!-- <h1 [innerText]="title"></h1>

<h1>clicked {{clickCount}} times</h1>
<h1>clicked {{clickCount1}} times</h1>
<button (click)="clickMe():clickCount1=clickCount">click me!</button>

<input type="type" (input)="handleInput($event)">
<p>{{value}}</p>

<h1>ngFor Example</h1>
<ul>
    <li *ngFor="let role of roles">{{role}}</li>
</ul>

<h1>ngIf Example</h1>
<label for="">Show the text </label>
<input type="checkbox" [(ngModel)]="showMe">
<p *ngIf="showMe">Can you see me?</p>

<h1>ngClass</h1>
<label for="">Color the text</label>
<input type="checkbox" [(ngModel)]="applyColor">
<p [ngClass]="{'primary':applyColor}">Sample Text</p>

<h1>ngStyle</h1>
<p [ngStyle]="{'color':'red','font-size':'40px'}">Sample text</p> -->

<!-- pipe Concept -->
<p>{{date|date:'medium'}}</p>
<p>{{date|date:'short'}}</p>
<p>{{date|date:'fullDate'}}</p>
<p>{{date|date:'longDate'}}</p>

<p>original: {{message}}</p>
<p>original: {{message|slice:1:5}}</p>
<p>original: {{message|slice:-7}}</p>

<p>{{message | trim : 'trimmed'}}</p>